@using CalibreWeb.Models;
@using CalibreWeb.Repository;
@using CalibreWeb.Resources
@inject LocService SharedLocalizer
@inject IAppConfig appConfig
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="~/books.png" type="image/png">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CalibreWeb</title>
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/site.min.css" />
	</environment>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-brand">
				<a asp-page="/Index" class="nav-link">
					<img src="~/images/Calibre_logo_2.png" height="64" />
					<span>CalibreWeb</span>
				</a>
			</div>
			
			@if (!appConfig.RequireLogin || User.Identity.IsAuthenticated)
			{
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			}
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				@if (!appConfig.RequireLogin || User.Identity.IsAuthenticated)
				{
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a asp-page="/Books" class="nav-link">@SharedLocalizer.GetLocalizedHtmlString("Books")</a></li>
						<li class="nav-item"><a asp-page="/Author" class="nav-link">@SharedLocalizer.GetLocalizedHtmlString("Authors")</a></li>
						@if (appConfig.RequireLogin && User.IsInRole(AppUserRole.Admin))
						{
							<li class="nav-item"><a asp-page="/Admin" class="nav-link">@SharedLocalizer.GetLocalizedHtmlString("Admin")</a></li>
						}
						@if (appConfig.RequireLogin)
						{
							<li class="nav-item"><a href="#" id="lnk-logout" class="nav-link">@SharedLocalizer.GetLocalizedHtmlString("Logout")</a></li>
						}
					</ul>
					<div class="d-flex me-4" role="search" id="div-search">
						<input id="txt-search" class="form-control me-2" type="search" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Search")" aria-label="@SharedLocalizer.GetLocalizedHtmlString("Search")">
					</div>
					@if (appConfig.RequireLogin)
					{
						<form id="frm-logout" method="post" asp-page="Logout">
							<img id="btn-logout" src="~/images/logout.svg" title="@SharedLocalizer.GetLocalizedHtmlString("Logout")" />
						</form>
					}
				}
			</div>
		</div>
	</nav>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>CalibreWeb &copy; @DateTime.Now.Year by Simon Baer (@System.Diagnostics.Process.GetCurrentProcess().ProcessName)</p>
		</footer>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery-3.6.4.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/jquery/dist/jquery-3.6.4.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	<script>

		var searchTimeout;

		function searchTimerElapsed() {
			let expr = $("#txt-search").val().toLowerCase();
			if (window.doSearch !== undefined) {
				doSearch(expr);
			}
		}

		$(function () {
			$("#txt-search").on("keyup", function () {
				window.clearTimeout(searchTimeout);
				searchTimeout = window.setTimeout(searchTimerElapsed, 200);
			});

			$("#btn-logout, #lnk-logout").click(function () {
				$("#frm-logout").submit();
			});
		});

	</script>

	@RenderSection("Scripts", required: false)
</body>
</html>
