@using CalibreWeb.Resources
@inject LocService SharedLocalizer
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="~/books.png" type="image/png">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CalibreWeb</title>
	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/site.min.css" />
	</environment>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<img src="~/images/Calibre_logo_2.png" height="64" class="navbar-brand" />
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active">CalibreWeb</a>
					</li>
					<li class="nav-item"><a asp-page="/Index" class="nav-link">@SharedLocalizer.GetLocalizedHtmlString("Books")</a></li>
					<li class="nav-item"><a asp-page="/Author" class="nav-link">@SharedLocalizer.GetLocalizedHtmlString("Authors")</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>CalibreWeb &copy; @DateTime.Now.Year by Simon Baer (@System.Diagnostics.Process.GetCurrentProcess().ProcessName)</p>
		</footer>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery-3.6.3.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/jquery/dist/jquery-3.6.3.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
