@page
@using CalibreWeb.Models;
@using CalibreWeb.Repository;
@using CalibreWeb.Resources
@inject LocService SharedLocalizer
@model IndexModel
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Welcome");
}
<h2>@SharedLocalizer.GetLocalizedHtmlString("Welcome")</h2>
<div>@Html.Raw(Model.Text)</div>
@if (Model.Books.Any())
{
    <h5 class="pt-3">@SharedLocalizer.GetLocalizedHtmlString("NewBooks")</h5>

    <div id="mostrecent">
        @foreach (var book in Model.Books)
        {
            <div class="card m-3" style="width: 18rem; display: inline-flex">
                <a href="@Url.Action("Index", "Books", new { bookId = book.Id })">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Author</p>
                        <div>
                            @if (book.HasCover)
                            {
                                <img class="cover" src="@Url.Action("Index", "Cover", new { path = Convert.ToBase64String(System.Text.Encoding.Default.GetBytes(book.Path)) })" />
                            }
                            else
                            {
                                <img class="cover" src="~/images/cover.jpg" />
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}